#wrapper{
    width: 500px;
    margin-top: 20vh;
    padding: 20px;
}

.mw-1200 {
    max-width: 1200px;
}

.mw-900 {
    max-width: 900px;
}

.clickable {
    cursor: pointer;
}

.bg-grey {
    background-color: rgb(196, 196, 196);
}

.minw-100px {
    min-width: 100px;
}

.text-little {
    font-size: 75%;
}

body {
    padding-top: 100px;
    padding-bottom: 100px;
}

.flex-div{min-width: 300px;}
.mt-8px{margin-top: 8px;}